#title{
    background-image: url('https://www.yaruqui.gob.ec/web/media/pictures/web/turismo/trasporte.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: left;
}
.logo{
    border-radius: 100%;
    height: 12.5%;
    width: 12.5%;
}
.nav-logo{
    width: 50%;
    margin: auto 0 auto 0;
}
.coop-name{
    padding: 0 25% 40% 25%;
    text-align: center;
}
.features-box{
    padding: 7% 15%;
    text-align: center;
}
.big-heading{ 
    font-size: 3.5rem;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    opacity: 100%;
}
.navbar{
    padding: 0 0 1rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "Montserrat";
    font-size: 1.2rem ;
    font-weight: 300;
}
.white{
    background-color: #fff;
}
.icon-title{
    font-size: 1.5rem;
    font-family: "Ubuntu";
    font-weight: bold;
}
.icon-text{
    color: #8f8f8f;
    text-align: justify;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
}
.bus-img{
    width: 1400;
    height: 500;
}
.img-fluid{
    max-width: 500%;
}
.bg-image{
    opacity: 65%;
    height: 70%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.contact{
    padding: 3% 5% 20%;
}
#footer{
    text-align: center;
    padding: 7%;
    color: #8f8f8f
}
.footer-icons{
    padding: 2%;
}
.fa-brands{
    margin: 20px 10px;
}
#testimonials{
    text-align: center;
    padding: 0 25%;
}
.testimonial-image{
    max-width: 100%;
    height: auto;
}
#story{
    text-align: center;
}
.story{
    padding: 7% 10%;
}
.story-text{
    color: #8f8f8f;
    text-align: justify;
}
@media (max-width: 700px){
    .coop-name{
        padding: 0 0 100% 0;
    }
    .big-heading{
        font-size: 2.5rem;
    }
}
